<ion-view title="Login" id="page5" style="background-color:#365EFF;">
    <ion-content padding="true" style="background: url(img/LOX1N2TSACmn6ar4JUd5_maxresdefault.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="login-form1" class="list">
            <ion-list id="login-list1">
                <label class="item item-input" id="login-input1" name="userName">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="mainTabs.game" id="login-button1" style="font-weight:600;border-radius:10px 10px 10px 10px;" class="button button-balanced  button-block icon-left ion-android-checkbox-outline">Log in</a>
        </form>
    </ion-content>
</ion-view>