<ion-view title="Trivia" hide-nav-bar="true" id="page6">
    <ion-content padding="true" style="background: url(img/ClNst5sORIGI86l3QgcD_maxresdefault.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 7px;"></div>
        <h1 id="trivia-heading5" style="color:#FFFFFF;text-align:center;">Pregunta {{IdxActual}} de {{TotalPregs}}</h1>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <div id="trivia-markdown5" style="color:#FFFFFF;font-size:18px;text-align:center;">
            <p>{{TextoPregunta}}</p>
        </div>
        <div class="spacer" style="width: 300px; height: 38px;"></div>
        <button id="trivia-button8" ng-click="Answer('A')" class="button {{OpcAStyle}}  button-block">{{OpcionA}}</button>
        <button id="trivia-button11" ng-click="Answer('B')" class="button {{OpcBStyle}}  button-block">{{OpcionB}}</button>
        <button id="trivia-button12" ng-click="Answer('C')" class="button {{OpcCStyle}}  button-block">{{OpcionC}}</button>
    </ion-content>
</ion-view>